@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Nabla&display=swap');
* {
    margin: 0;
    padding: 0;
    background: #000;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pole {
    display: flex;
    width: 100%;
    max-width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
}


.pole {
    width: 100px;
    height: 100px;
    background-color: #383838;
    cursor: pointer;
    border: 2px solid #300D75;
}
#score {
    color: bisque;
    text-align: center;
    font-family: 'Gabriela';
}

.disabled {
    pointer-events: none;
    opacity: 0.9;
}

@media (max-width: 600px) {
    #pole {
        max-width: 100%;
        justify-content: center;
    }

    .pole {
        width: calc(25%);
        max-width: 100px;
        height: 100px;
    }
}

@media (max-width: 400px) {
    .pole {
        height: 80px;
        width: calc(25%);
    }
}