* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    background: url(img/gpt-image-2_тёмно-фиолетовый_фон_с_ярко_сиреневыми_узор-0.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
    font-size: 24px;
    color:bisque;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
#game_space {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    width: 100%;
    max-width: 350px;
    gap: 25px;

}
#game_space > * {
    height: 50px;
}
#rules {
    text-align: center;
    width: 70%;

}
#rules:hover{
    color: aqua;
    cursor:pointer;
}