* {
    margin: 0;
    padding: 0;
    background: #080526;
    user-select: none;
}


#one {
    position: relative;
    /* display: inline-block; */

    display: flex;
    text-align: center;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
    width: 504px;
    height: 100vh;
    cursor: pointer;
} 
#meteor{
    display: block;
    background: none;
    width: 504px; /* или нужный размер */
    height: auto;
    pointer-events: none;
}
#score {
    color: #00D4FF;
    position: absolute;
    top: 50%;
    left: 50%;
    background: none;
    pointer-events: none;
}
@media (max-width: 600) {
    #one {
        background: none;
    }
    #meteor {
        zoom: 40%;
    }
    

}