* {
    margin: 0;
    padding: 0;
    background: #080526;
    user-select: none;
}


#one {
    display: flex;
    background: url("img/метеорит.png") no-repeat;
    text-align: center;
    background-size: contain;
    margin: 25%;
    align-items: center;
    justify-content: center;
    width: 504px;
    height: 504px;
    color: #00D4FF;
    cursor: pointer;
}
#score {
    background: none;
}
@media (max-width: 600) {
    #one {
        align-items: center;
        justify-content: left;
        user-select: none;
        margin: 0;
        width: 252px;
        height: 252px;

    }
    

}